@import 'bootstrap/dist/css/bootstrap';

body {
	text-align: center;
}



.btn-circle.btn-xl {
            width: 200px;
            height: 200px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 20px;
            text-align: center;
        }